{% extends "base.html" %}

{% block content %}

<h1>🌱 Soil Diary</h1>

<h3>Add Soil Record</h3>

<form method="POST">

<label>Soil Type</label>
<select name="soil_type">
<option>Black Soil</option>
<option>Red Soil</option>
<option>Alluvial Soil</option>
<option>Clay Soil</option>
<option>Sandy Soil</option>
</select>

<label>pH Level</label>
<input type="text" name="ph_level" placeholder="Example: 6.5">

<label>Notes</label>
<textarea name="notes" placeholder="Write soil condition or observations"></textarea>

<button type="submit">Save Soil Record</button>

</form>

<h2>📋 Soil Records</h2>

<table>

<tr>
<th>Soil Type</th>
<th>pH Level</th>
<th>Notes</th>
<th>Action</th>
</tr>

{% for soil in soils %}

<tr>
<td>{{ soil[2] }}</td>
<td>{{ soil[3] }}</td>
<td>{{ soil[4] }}</td>

<td>
<a href="/delete_soil/{{ soil[0] }}">
<button style="background:green;color:white;border:none;padding:5px 10px;border-radius:5px;">
❌ Delete
</button>
</a>
</td>

</tr>

{% endfor %}

</table>

{% endblock %}
